* {
    color: white;
    font-family: system-ui;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(138, 126, 126);
    display: flex;
    margin-top: 5vw;
    justify-content: center;
}

.heading {
    text-align: left;
    font-size: 2rem;

}

.container {
    max-width: 70vw;
    min-width: none;
    padding: min(5vw, 40px);
    color: white;
    background-color: #626569;
    height: fit-content;
}

input[type="text"]::placeholder {
    color: white;
    font-size: 1.3rem;
    padding: 5px 2px;
    text-transform: none;
    letter-spacing: 0;
}

input[type="text"] {
    border: none;
    outline: none;
    background: none;
    width: 60%;
    height: 2rem;
    font-size: 1.3rem;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.your-location {
    font-size: 12px;
    background-color: rgb(138, 137, 137);
    width: 70%;
    padding: min(3vw, 10px);
    border-radius: 12px;
    transition: ease-in-out 0.3s;
}



.your-location .names {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    /* background-color: wheat; */
}

.your-city {
    font-size: 1rem;
    color: #53627c;
}

.your-country {
    background-color: goldenrod;
    border-radius: 12px;
    padding: 2px 7px;
}


.temperature h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 11px;
    font-size: 2.4rem;
    line-height: 12px
}

button[type="submit"] {
    cursor: pointer;
    background-color: #ff1f43;
    border: none;
    border-radius: 4px;
    padding: 2px 10px;
    height: 2rem;
    font-size: 1.3rem;

}

.temperature h1 sup b {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1.5rem;

}

.temperature h1 sup {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: lighter;
    font-size: 1.5rem;

}

.description span {
    color: black;
    font-size: 1rem;
}

.locations {
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: center; */
}

.status {
    margin: 0;
    color: #000;
}

.icon {
    transition: ease-in-out 0.5s;
}