* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    background: linear-gradient(to bottom, rgb(242, 92, 92), rgb(129, 11, 112));
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    padding: min(4vw, 90px);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.425) 0px 0px 50px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2vh;
}

.rates {
    width: 100%;
}

.rate1 {
    color: #858585;
    font-size: 12px;
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

}

.swap {
    align-self: flex-end;
    padding: 2px;
    cursor: pointer;
}

input[type="number"] {
    background-color: #4040402b;
    outline: rgba(128, 128, 128, 0.614);
    border: none;
    border-radius: 5px;
    appearance: textfield;
    display: inline-block;
    margin-top: 1rem;
    padding: 4px;
    box-sizing: border-box;
}

.options select {
    padding: 2%;
}

.calculate {
    margin-top: 1rem;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

.calculate:active {
    background: linear-gradient(to bottom, rgb(242, 92, 92), rgb(129, 11, 112));

}